<a href="https://colab.research.google.com/github/faris11/MLModel/blob/main/Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Loading Data**

In [100]:
import pandas as pd

In [101]:
dataset = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
dataset

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [ ]:
dataset.head()

In [ ]:
dataset.tail()

In [ ]:
dataset.sample(15)

In [106]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
dataset.describe()

In [ ]:
dataset.isnull().sum()

In [111]:
#Memeriksan Nan
dataset.isna().sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

In [ ]:
pd.isna(dataset['sepal.length'])

In [ ]:
dataset['sepal.length'].fillna(0)
dataset['sepal.length'].fillna("missing")

In [ ]:
dataset.index.duplicated()

In [113]:
x = pd.DataFrame(data=dataset)
x.drop('variety', axis=1, inplace=True)
x

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [ ]:
y = dataset['variety']
y

In [115]:
y.unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [116]:
y = y.map({'Setosa': 0, 'Versicolor': 1, 'Virginica':2})

# **Data Split**

In [119]:
from sklearn.model_selection import train_test_split, cross_validate
from sklearn.metrics import accuracy_score, precision_recall_fscore_support, classification_report, confusion_matrix

In [120]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 1)

In [ ]:
x_train

In [ ]:
y_train

In [ ]:
x_train.count()

In [ ]:
x_test.count()

# **Model**

In [125]:
from sklearn.naive_bayes import GaussianNB
from sklearn import tree
from sklearn import svm

In [126]:
model_NB = GaussianNB()

In [ ]:
model_NB.fit(x_train, y_train)

In [128]:
y_pred = model_NB.predict(x_test)

In [ ]:
y_pred

# **Result**

In [ ]:
print("Akurasi yang diperoleh adalah ", accuracy_score(y_test, y_pred))

In [ ]:
precision_recall_fscore_support(y_test, y_pred, average='weighted')

In [ ]:
print(classification_report(y_test, y_pred))

In [150]:
model_DT = tree.DecisionTreeClassifier(max_depth=2)

In [ ]:
model_DT.fit(x_train, y_train)

In [ ]:
tree.plot_tree(model_DT)

In [139]:
y_pred1 = model_DT.predict(x_test)

In [ ]:
print(classification_report(y_test, y_pred1))

In [141]:
confmatrix_DT = confusion_matrix(y_test, y_pred1)

In [ ]:
print(confmatrix_DT)

In [143]:
import seaborn as sns

In [ ]:
sns.heatmap(confmatrix_DT, annot=True)

In [147]:
from sklearn.model_selection import cross_val_score

In [148]:
CVScore_NB = cross_val_score(model_NB, x, y, cv=5)

In [ ]:
CVScore_NB

# **Visualization**

In [144]:
from matplotlib import pyplot as plt

In [ ]:
x = dataset['sepal.length']
y = dataset['petal.length']

plt.figure(figsize=(8, 8))

plt.scatter(x, y)

plt.xlabel('Sepal Length')
plt.ylabel('Petal Length')

plt.show()

In [ ]:
groups = dataset.groupby("variety")

plt.figure(figsize=(8, 8))
for name, group in groups:
    plt.plot(group["sepal.length"], group["petal.length"], marker="o", linestyle="", label=name)
plt.legend()